.add-Homework-div{
    background-color: azure;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    padding: 2px;
}
