.create-announcement-text{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px;
    border-radius: 10px;
}
.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px;
    border-radius: 10px;
}