.sidebar{
    position: sticky !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: black !important;
    height: 100vh;
}

.Big-App{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: azure;


}
.App{
    width: 100%;
}
.components{
    padding: 5px;
}